<br/><hr/><ul>
	<li>date time 2017-Aug-05 08:51:22</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: pg_query(): Query failed: ERROR:  syntax error at or near &quot;)&quot;
LINE 1: ...k WHERE &quot;examID&quot;=2 AND &quot;classesID&quot;=2 and academic_year_id=1)
                                                                      ^</li>
	<li>error sql: SELECT "studentID" FROM testing.mark WHERE "examID"=2 AND "classesID"=2 and academic_year_id=1)</li>
	<li>error query: </li>
	<li>Called Class: exam</li>
	<li>Called Method: singlereport</li>
	<li>request url: /shule_live/exam/singlereport/1452?exam=2&class_id=2&year_no=1</li>
	<li>File name: C:\xampp\htdocs\shule_live\main\database\drivers\postgre\postgre_driver.php</li>
	<li>Line no: 176</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 14:07:42</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: pg_query(): Query failed: ERROR:  date/time field value out of range: &quot;21-11-1994&quot;
LINE 1: ...= 'Juma Amba', &quot;designation&quot; = 'Teacher', &quot;dob&quot; = '21-11-199...
                                                             ^
HINT:  Perhaps you need a different &quot;datestyle&quot; setting.</li>
	<li>error sql: UPDATE "testing"."teacher" SET "name" = 'Juma Amba', "designation" = 'Teacher', "dob" = '21-11-1994', "sex" = 'Male', "religion" = 'muslim', "email" = 'ambakisye@gmail.com', "phone" = '714852564', "username" = '714852564', "employment_type" = 'permanent', "address" = 'mbagala kibaoni, Ilala Dar es salaam', "jod" = '07-11-1996' WHERE "teacherID" =  9</li>
	<li>error query: </li>
	<li>Called Class: teacher</li>
	<li>Called Method: edit</li>
	<li>request url: /shule_live/teacher/edit/9</li>
	<li>File name: C:\xampp\htdocs\shule_live\main\database\drivers\postgre\postgre_driver.php</li>
	<li>Line no: 176</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 15:19:00</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT * FROM testing.student WHERE "sectionID" = 14 LIMIT 1</li>
	<li>error query: </li>
	<li>Called Class: section</li>
	<li>Called Method: delete</li>
	<li>request url: /shule_live/section/delete/14/2</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section.php</li>
	<li>Line no: 213</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 15:19:01</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: DELETE FROM "testing"."section"
WHERE "sectionID" =  '14'</li>
	<li>error query: </li>
	<li>Called Class: section</li>
	<li>Called Method: delete</li>
	<li>request url: /shule_live/section/delete/14/2</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section.php</li>
	<li>Line no: 218</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 18:50:33</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: subjectID</li>
	<li>error sql: SELECT *
FROM "testing"."section"
WHERE "classesID" =  '6'
ORDER BY "sectionID" asc</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 116</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 18:51:40</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: subjectID</li>
	<li>error sql: SELECT *
FROM "testing"."section"
WHERE "classesID" =  '6'
ORDER BY "sectionID" asc</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 116</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 18:58:26</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: trim() expects parameter 1 to be string, array given</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\main\libraries\Form_validation.php</li>
	<li>Line no: 619</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:01:18</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classesID</li>
	<li>error sql: select * from testing.subject WHERE subject_id=3 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=1)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 139</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:23</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select * from testing.subject WHERE subject_id=3 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=5)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 135</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 139</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 143</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 135</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 139</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 143</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 135</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 139</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 143</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:25</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 135</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:25</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 139</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:25</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '82ae6eaca604c142aad310f603eb61d7'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 143</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:05:25</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classesID</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 163</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:16:45</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classes</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 73</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:16:46</li>
	<li>errornum 2</li>
	<li>Made By: Not loged usertype</li>
	<li>Usename login:  Not loged in user</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: INSERT INTO "testing"."school_sessions" ("session_id", "ip_address", "user_agent", "last_activity", "user_data") VALUES ('47d8a6f9db565c12ba9f5a67834ed220', '0.0.0.0', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.96 Safari/537.36', 1501949805, '')</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 73</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:05</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classlevels</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 33</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:05</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 33</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:05</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classes</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:05</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:44</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classlevels</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 33</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:44</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 33</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:44</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classes</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:21:44</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  '6f461fe53a6488a0d6d2e2c2f7cda2de'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:22:05</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classes</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:22:05</li>
	<li>errornum 2</li>
	<li>Made By: Not loged usertype</li>
	<li>Usename login:  Not loged in user</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: INSERT INTO "testing"."school_sessions" ("session_id", "ip_address", "user_agent", "last_activity", "user_data") VALUES ('5b5a4b1df07b627ac9153836fd79fb2f', '0.0.0.0', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.96 Safari/537.36', 1501950125, '')</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 91</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:41:18</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: academic_year</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 62</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:42:18</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: academic_year</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 62</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:43:30</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: academic_year</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 62</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:44:43</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: academic_year</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 62</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:23</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select * from testing.subject WHERE subject_id=3 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=5)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:23</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:23</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:53:24</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classesID</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/3/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 169</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:06</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select * from testing.subject WHERE subject_id=2 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=5)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:06</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:06</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:06</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:06</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:07</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'cb6394912e7fd0ace2a12a9e29c7341d'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:57:07</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: classesID</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/2/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 169</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:26</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select * from testing.subject WHERE subject_id=7 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=5)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:26</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'f546b7ab93e68c6c134b76d6241320dc'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:26</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'f546b7ab93e68c6c134b76d6241320dc'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:26</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT LASTVAL() as ins_id</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 141</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:26</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'f546b7ab93e68c6c134b76d6241320dc'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 145</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 19:59:27</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: SELECT *
FROM "testing"."school_sessions"
WHERE "session_id" =  'f546b7ab93e68c6c134b76d6241320dc'</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/7/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 149</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 20:05:36</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 135</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 20:07:34</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>error sql: SELECT *
FROM "testing"."refer_subject"</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 136</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 20:10:27</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select * from testing.subject WHERE subject_id=6 and "classesID" IN (SELECT "classesID" from testing.section WHERE "sectionID"=5)</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/6/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\controllers\section_teacher.php</li>
	<li>Line no: 142</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:36:36</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Array to string conversion</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 117</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:37:34</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: explode() expects parameter 2 to be string, array given</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 117</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:38:13</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Array to string conversion</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 117</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:38:42</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Array to string conversion</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 117</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:41:28</li>
	<li>errornum 8</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 118</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:44:26</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: implode(): Invalid arguments passed</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 120</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

<br/><hr/><ul>
	<li>date time 2017-Aug-05 21:44:46</li>
	<li>errornum 2</li>
	<li>Made By: Admin</li>
	<li>Usename login:  josephatj</li>
	<li>errortype Warning</li>
	<li>error msg: implode(): Invalid arguments passed</li>
	<li>error sql: select "teacherID" from testing.section_subject_teacher where "sectionID"=3 AND academic_year_id=1 AND refer_subject_id=11</li>
	<li>error query: </li>
	<li>Called Class: section_teacher</li>
	<li>Called Method: add</li>
	<li>request url: /shule_live/section_teacher/add/1/11/1</li>
	<li>File name: C:\xampp\htdocs\shule_live\app\views\section_subject_teacher\add_bulk.php</li>
	<li>Line no: 120</li>
	<li>Error user agent: Chrome 58.0.3029.96</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: DESKTOP-JGOI01J</li>
</ul>

