@media screen and (max-width: 480px) {
	.box > .box-header > .breadcrumb {
		background: none !important; 
		float: left;
		padding: 15px 10px 10px 15px;
		margin-bottom: 0px;
		position: relative;
	}


	/* Login Panel */
	.form-box > .header {
	  margin-top: -50px;
	}
	/* Login Panel */

	/* View breadcrumb Start */
	.well .breadcrumb {
	  float: left;
	  margin-bottom: 10px;
	  padding: 8px 0px;
	}
	/* View breadcrumb Close */

	/* Issue Button margin Start */
	.iss-mar {
		margin-top: 8px;
	}
	/* Issue Button margin Start */

	/* Report Select * Button Margin Start */
	.rep-mar {
		margin-top: 12px !important;
	}
	/* Report Select * Button Margin Close */
}

@media screen and (max-width: 800px) {
	/* View breadcrumb Start */
	.well .breadcrumb {
	  float: left;
	  margin-bottom: 10px;
	  padding: 8px 0px;
	}
	/* View breadcrumb Close */

	/* Issue Button margin Start */
	.iss-mar {
		margin-top: 8px;
	}
	/* Issue Button margin Start */

		/* Report Select * Button Margin Start */
	.rep-mar {
		margin-top: 12px !important;
	}
	/* Report Select * Button Margin Close */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

		max-width: 100%;

	}
	.panel-body{
		overflow: auto;
	}
}

