 h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #313131;
        font-family: 'Rubik', sans-serif;
        margin: 10px 0;
        font-weight: 300;
    }
    h1 {
        line-height: 48px;
        font-size: 36px;
    }
    h2 {
        line-height: 36px;
        font-size: 24px;
    }
    h3 {
        line-height: 30px;
        font-size: 21px;
    }
    h4 {
        line-height: 22px;
        font-size: 18px;
    }
    h5 {
        font-size: 18px;
        font-size: 16px;
    }
    h5 {
        font-size: 16px;
        font-size: 14px;
    }
    /***************************** 
        Stylish tabs page 
    *****************************/
    .sttabs {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
    }
    .sticon::before {
        display: inline-block;
        margin: 0 0.4em 0 0;
        vertical-align: middle;
        font-size: 20px;
        speak: none;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .sttabs nav {
        text-align: center;
    }
    .sttabs nav ul {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin: 0 auto;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        list-style: none;
        -ms-box-orient: horizontal;
        -ms-box-pack: center;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    .sttabs nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .sttabs nav a {
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2.5;
    }
    .sttabs nav a span {
        vertical-align: middle;
        font-wight: 500;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
    }
    .sttabs nav a:focus {
        outline: none;
    }
    .sttabs nav li.tab-current a {
        color: #f33155;
    }
    .content-wrap {
        background: #ffffff;
    }
    /*****************************/
    /* Bar tab*/
    /*****************************/
    .tabs-style-bar nav ul li a {
        margin: 0 2px;
        background-color: #f7fafc;
        color: #686868;
        padding: 5px 0;
        transition: background-color 0.2s, color 0.2s;
    }
    .tabs-style-bar nav ul li a:hover,
    .tabs-style-bar nav ul li a:focus {
        color: #f33155;
    }
    .tabs-style-bar nav ul li a span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    .tabs-style-bar nav ul li.tab-current a {
        background: #fb9678;
        color: #fff;
    }
    /*****************************/
    /* Icon box tab*/
    /*****************************/
    .tabs-style-iconbox nav {
        background: #f7fafc;
    }
    .tabs-style-iconbox nav ul li a {
        overflow: visible;
        padding: 25px 0;
        line-height: 1;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: #263238;
    }
    .tabs-style-iconbox nav ul li.tab-current {
        z-index: 1;
    }
    .tabs-style-iconbox nav ul li.tab-current a {
        background: #41b3f9;
        color: #ffffff;
        box-shadow: -1px 0 0 #ffffff;
    }
    .tabs-style-iconbox nav ul li.tab-current a::after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: 10px;
        border-top-color: #41b3f9;
        content: '';
        pointer-events: none;
    }
    .tabs-style-iconbox nav ul li:first-child::before,
    .tabs-style-iconbox nav ul li::after {
        position: absolute;
        top: 20%;
        right: 0;
        z-index: -1;
        width: 1px;
        height: 60%;
        content: '';
    }
    .tabs-style-iconbox nav ul li:first-child::before {
        right: auto;
        left: 0;
    }
    .tabs-style-iconbox .sticon::before {
        display: block;
        margin: 0 0 0.25em 0;
    }
    /*****************************/
    /* Underline tab*/
    /*****************************/
    .tabs-style-underline nav {
        border: 1px solid rgba(120, 130, 140, 0.13);
    }
    .tabs-style-underline nav a {
        padding: 20px 0;
        border-left: 1px solid rgba(120, 130, 140, 0.13);
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: #263238;
    }
    .tabs-style-underline nav li:last-child a {
        border-right: 1px solid rgba(120, 130, 140, 0.13);
    }
    .tabs-style-underline nav li a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: #fb9678;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translate3d(0, 150%, 0);
        transform: translate3d(0, 150%, 0);
    }
    .tabs-style-underline nav li.tab-current a::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    /*****************************/
    /* Triangle and line tab*/
    /*****************************/
    .tabs-style-linetriangle nav a {
        overflow: visible;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }
    .tabs-style-linetriangle nav a span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        padding: 15px 0;
        color: #263238;
    }
    .tabs-style-linetriangle nav li.tab-current a:after,
    .tabs-style-linetriangle nav li.tab-current a:before {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: solid transparent;
        content: '';
        pointer-events: none;
    }
    .tabs-style-linetriangle nav li.tab-current a:after {
        margin-left: -10px;
        border-width: 10px;
        border-top-color: #ffffff;
    }
    .tabs-style-linetriangle nav li.tab-current a span {
        color: #f33155;
    }
    .tabs-style-linetriangle nav li.tab-current a:before {
        margin-left: -11px;
        border-width: 11px;
        border-top-color: rgba(0, 0, 0, 0.2);
    }
    /*****************************/
    /* Falling Icon tab */
    /*****************************/
    .tabs-style-iconfall {
        overflow: visible;
    }
    .tabs-style-iconfall nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    .tabs-style-iconfall nav a {
        display: inline-block;
        overflow: visible;
        padding: 1em 0 2em;
        color: #263238;
        line-height: 1;
        -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .tabs-style-iconfall nav a:hover,
    .tabs-style-iconfall nav a:focus {
        color: #f33155;
    }
    .tabs-style-iconfall nav li.tab-current a {
        color: #f33155;
    }
    .tabs-style-iconfall nav li::before {
        position: absolute;
        bottom: 1em;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 4px;
        background: #f33155;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    .tabs-style-iconfall nav li.tab-current::before {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .tabs-style-iconfall nav li.tab-current .sticon::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .tabs-style-iconfall .sticon::before {
        display: block;
        margin: 0 0 0.35em;
        opacity: 0;
        font-size: 24px;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
        pointer-events: none;
    }
    @media screen and (max-width: 58em) {
        .tabs-style-iconfall nav li .sticon::before {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    /*****************************/
    /* Moving Line tab */
    /*****************************/
    .tabs-style-linemove nav {
        background: #f7fafc;
    }
    .tabs-style-linemove nav li:last-child::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #f33155;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
        -webkit-transform: translate3d(-400%, 0, 0);
        transform: translate3d(-400%, 0, 0);
    }
    .tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }
    .tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
    .tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .tabs-style-linemove nav a {
        padding: 30px 0;
        color: #263238;
        line-height: 1;
        -webkit-transition: color 0.3s, -webkit-transform 0.3s;
        transition: color 0.3s, transform 0.3s;
    }
    .tabs-style-linemove nav li.tab-current a {
        color: #f33155;
    }
    /*****************************/
    /* Line tab*/
    /*****************************/
    .tabs-style-line nav a {
        padding: 20px 10px;
        box-shadow: inset 0 -2px #d1d3d2;
        color: #686868;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        -webkit-transition: color 0.3s, box-shadow 0.3s;
        transition: color 0.3s, box-shadow 0.3s;
    }
    .tabs-style-line nav a:hover,
    .tabs-style-line nav a:focus {
        box-shadow: inset 0 -2px #74777b;
    }
    .tabs-style-line nav li.tab-current a {
        box-shadow: inset 0 -2px #f33155;
        color: #f33155;
    }
    @media screen and (max-width: 58em) {
        .tabs-style-line nav ul {
            display: block;
            box-shadow: none;
        }
        .tabs-style-line nav ul li {
            display: block;
            -webkit-flex: none;
            flex: none;
        }
    }
    /*****************************/
    /* Circle tab*/
    /*****************************/
    .tabs-style-circle {
        overflow: visible;
    }
    .tabs-style-circle nav li {
        margin-top: 60px!important;
        margin-bottom: 60px!important;
    }
    .tabs-style-circle nav li::before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -60px 0 0 -60px;
        width: 120px;
        height: 120px;
        border: 1px solid #fb9678;
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .tabs-style-circle nav a {
        overflow: visible;
        color: #2b2b2b;
        font-weight: 500;
        font-size: 14;
        line-height: 1.1;
        -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .tabs-style-circle nav a span {
        display: inline-block;
    }
    .tabs-style-circle nav a:hover,
    .tabs-style-circle nav a:focus {
        color: #f33155;
    }
    .tabs-style-circle nav li.tab-current a {
        color: #f33155;
    }
    .tabs-style-circle nav li.tab-current a span {
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0);
    }
    @media screen and (max-width: 58em) {
        .tabs-style-circle nav li::before {
            margin: -40px 0 0 -40px;
            width: 80px;
            height: 80px;
        }
    }
    .tabs-style-circle nav li.tab-current::before {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .tabs-style-circle nav a span,
    .tabs-style-circle .icon::before {
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .tabs-style-circle .sticon::before {
        display: block;
        margin: 0;
        pointer-events: none;
    }
    .tabs-style-circle nav li.tab-current .sticon::before {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
    /*****************************/
    /* Shape tab*/
    /*****************************/
    .tabs-style-shape {
        max-width: 1200px;
        margin: 0 auto;
    }
    .tabs-style-shape nav ul li {
        margin: 0 3em;
    }
    .tabs-style-shape nav ul li:first-child {
        margin-left: 0;
    }
    .tabs-style-shape nav ul li.tab-current {
        z-index: 1;
    }
    .tabs-style-shape nav li a {
        overflow: visible;
        margin: 0 -3em 0 0;
        padding: 0;
        color: #fff;
        font-weight: 500;
    }
    .tabs-style-shape nav li a svg {
        position: absolute;
        left: 100%;
        margin: 0;
        width: 3em;
        height: 100%;
        fill: #bdc2c9;
    }
    .tabs-style-shape nav li:first-child a span {
        padding-left: 2em;
        border-radius: 30px 0 0 0;
    }
    .tabs-style-shape nav li:last-child a span {
        padding-right: 2em;
        border-radius: 0 30px 0 0;
    }
    .tabs-style-shape nav li a svg:nth-child(2),
    .tabs-style-shape nav li:last-child a svg {
        right: 100%;
        left: auto;
        -webkit-transform: scale3d(-1, 1, 1);
        transform: scale3d(-1, 1, 1);
    }
    .tabs-style-shape nav li a span {
        display: block;
        overflow: hidden;
        padding: 0.65em 0;
        background-color: #bdc2c9;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tabs-style-shape nav li a:hover span {
        background-color: #f33155;
    }
    .tabs-style-shape nav li a:hover svg {
        fill: #f33155;
    }
    .tabs-style-shape nav li a svg {
        pointer-events: none;
    }
    .tabs-style-shape nav li a svg use {
        pointer-events: auto;
    }
    .tabs-style-shape nav li.tab-current a span,
    .tabs-style-shape nav li.tab-current a svg {
        -webkit-transition: none;
        transition: none;
    }
    .tabs-style-shape nav li.tab-current a span {
        background: #f7fafc;
    }
    .tabs-style-shape nav li.tab-current a svg {
        fill: #f7fafc;
    }
    .tabs-style-shape .content-wrap {
        background: #f7fafc;
    }
    @media screen and (max-width: 58em) {
        .tabs-style-shape nav ul {
            display: block;
            padding-top: 1.5em;
        }
        .tabs-style-shape nav ul li {
            display: block;
            margin: -1.25em 0 0;
            -webkit-flex: none;
            flex: none;
        }
        .tabs-style-shape nav ul li a {
            margin: 0;
        }
        .tabs-style-shape nav ul li svg {
            display: none;
        }
        .tabs-style-shape nav ul li a span {
            padding: 1.25em 0 2em !important;
            border-radius: 30px 30px 0 0 !important;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
            line-height: 1;
        }
        .tabs-style-shape nav ul li:last-child a span {
            padding: 1.25em 0 !important;
        }
        .tabs-style-shape nav ul li.tab-current {
            z-index: 1;
        }
    }
    /*****************************/
    /* Line Box tab*/
    /*****************************/
    .tabs-style-linebox nav ul li {
        margin: 0 0.5em;
        -webkit-flex: none;
        flex: none;
    }
    .tabs-style-linebox nav a {
        padding: 0 1.5em;
        color: #263238;
        font-weight: 500;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    .tabs-style-linebox nav a:hover,
    .tabs-style-linebox nav a:focus {
        color: #f33155;
    }
    .tabs-style-linebox nav li.tab-current a {
        color: #ffffff;
    }
    .tabs-style-linebox nav a::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #d2d8d6;
        content: '';
        -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
        transition: background-color 0.3s, transform 0.3s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
        transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    }
    .tabs-style-linebox nav li.tab-current a::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .tabs-style-linebox nav a:hover::after,
    .tabs-style-linebox nav a:focus::after,
    .tabs-style-linebox nav li.tab-current a::after {
        background: #f33155;
    }
    @media screen and (max-width: 58em) {
        .tabs-style-linebox nav ul {
            display: block;
            box-shadow: none;
        }
        .tabs-style-linebox nav ul li {
            display: block;
            -webkit-flex: none;
            flex: none;
        }
    }
    /*****************************/
    /* Flip tab*/
    /*****************************/
    .tabs-style-flip {
        max-width: 1200px;
        margin: 0 auto;
    }
    .tabs-style-flip nav a {
        padding: 0.5em 0;
        color: #263238;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    .tabs-style-flip nav a:hover,
    .tabs-style-flip nav a:focus {
        color: #f33155;
    }
    .tabs-style-flip nav a span {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .tabs-style-flip nav a::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        content: '';
        -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
        transition: transform 0.3s, background-color 0.3s;
        -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-perspective-origin: 50% 100%;
        perspective-origin: 50% 100%;
    }
    .tabs-style-flip nav li.tab-current a {
        color: #f33155;
    }
    .tabs-style-flip nav li.tab-current a::after {
        background-color: #f7fafc;
        -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    }
    .tabs-style-flip .content-wrap {
        background: #f7fafc;
    }
    /*****************************/
    /* Circle fill tab*/
    /*****************************/
    .tabs-style-circlefill {
        max-width: 800px;
        border: 1px solid #f33155;
        margin: 0 auto;
    }
    .tabs-style-circlefill nav ul li {
        overflow: hidden;
        border-right: 1px solid #f33155;
    }
    .tabs-style-circlefill nav li a {
        padding: 1.5em 0;
        color: #fff;
        font-size: 1.25em;
    }
    .tabs-style-circlefill nav li:first-child {
        border-left: none;
    }
    .tabs-style-circlefill nav li:last-child {
        border: none;
    }
    .tabs-style-circlefill nav li::before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        border: 1px solid #f33155;
        border-radius: 50%;
        background: #f33155;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .tabs-style-circlefill nav li.tab-current::before {
        -webkit-transform: scale3d(2.5, 2.5, 1);
        transform: scale3d(2.5, 2.5, 1);
    }
    .tabs-style-circlefill nav a {
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    .tabs-style-circlefill nav a span {
        display: none;
    }
    .tabs-style-circlefill nav li.tab-current a {
        color: #ffffff;
    }
    .tabs-style-circlefill .icon::before {
        display: block;
        margin: 0;
        pointer-events: none;
    }
    .tabs-style-circlefill .content-wrap {
        border-top: 1px solid #f33155;
    }
    /* Content */
    .content-wrap {
        position: relative;
    }
    .content-wrap section {
        display: none;
        margin: 0 auto;
        padding: 25px;
        min-height: 150px;
    }
    .content-wrap section p {
        margin: 0;
        padding: 0.75em 0;
    }
    .content-wrap section.content-current {
        display: block;
    }
    /* Fallback */
    .no-js .content-wrap section {
        display: block;
        padding-bottom: 2em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    .no-flexbox nav ul {
        display: block;
    }
    .no-flexbox nav ul li {
        min-width: 15%;
        display: inline-block;
    }
    @media screen and (max-width: 58em) {
        .sttabs nav a span {
            display: none;
        }
        .sttabs nav a:before {
            margin-right: 0;
        }
    }
    /***************************** 
        Stylish tolltip page 
    *****************************/
    .mytooltip {
        display: inline;
        position: relative;
        z-index: 9999;
    }
    /* Trigger text */
    .tooltip-item {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        padding: 0 10px;
    }
    /* Gap filler */
    .tooltip-item::after {
        content: '';
        position: absolute;
        width: 360px;
        height: 20px;
        bottom: 100%;
        left: 50%;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .mytooltip:hover .tooltip-item::after {
        pointer-events: auto;
    }
    /* Tooltip */
    .tooltip-content {
        position: absolute;
        z-index: 9999;
        width: 360px;
        left: 50%;
        margin: 0 0 20px -180px;
        bottom: 100%;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
        background: #2b2b2b;
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }
    .tooltip-effect-1 .tooltip-content {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        color: #ffffff;
    }
    .tooltip-effect-2 .tooltip-content {
        -webkit-transform-origin: 50% calc(110%);
        transform-origin: 50% calc(110%);
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
    }
    .tooltip-effect-3 .tooltip-content {
        -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
        transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-4 .tooltip-content {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(0.7, 0.3, 1);
        transform: scale3d(0.7, 0.3, 1);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
    }
    .tooltip-effect-5 .tooltip-content {
        width: 180px;
        margin-left: -90px;
        -webkit-transform-origin: 50% calc(106%);
        transform-origin: 50% calc(106%);
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
        transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
    }
    .mytooltip:hover .tooltip-content {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }
    .tooltip.tooltip-effect-2:hover .tooltip-content {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    }
    /* Arrow */
    .tooltip-content::after {
        content: '';
        top: 100%;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: #2a3035;
        border-width: 10px;
        margin-left: -10px;
    }
    /* Tooltip content*/
    .tooltip-content img {
        position: relative;
        height: 140px;
        display: block;
        float: left;
        margin-right: 1em;
    }
    .tooltip-text {
        font-size: 14px;
        line-height: 24px;
        display: block;
        padding: 1.31em 1.21em 1.21em 0;
        color: #fff;
    }
    .tooltip-effect-5 .tooltip-text {
        padding: 1.4em;
    }
    a.mytooltip {
        font-weight: 500;
        color: #fb9678;
    }
    /* Tooltip 6 to 9 */
    .tooltip-content2 {
        position: absolute;
        z-index: 9999;
        width: 80px;
        height: 80px;
        padding-top: 25px;
        left: 50%;
        margin-left: -40px;
        bottom: 100%;
        border-radius: 50%;
        text-align: center;
        background: #fb9678;
        color: #ffffff;
        opacity: 0;
        margin-bottom: 20px;
        cursor: default;
        pointer-events: none;
    }
    .tooltip-content2 i {
        opacity: 0;
    }
    .mytooltip:hover .tooltip-content2,
    .mytooltip:hover .tooltip-content2 i {
        opacity: 1;
        font-size: 18px;
    }
    .tooltip-effect-6 .tooltip-content2 {
        -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
        transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-6 .tooltip-content2 i {
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-7 .tooltip-content2 {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-7 .tooltip-content2 i {
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-8 .tooltip-content2 {
        -webkit-transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
        transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-8 .tooltip-content2 i {
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-9 .tooltip-content2 {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-effect-9 .tooltip-content2 i {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .mytooltip:hover .tooltip-content2,
    .mytooltip:hover .tooltip-content2 i {
        pointer-events: auto;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    .tooltip-effect-6:hover .tooltip-content2 i {
        -webkit-transform: rotate3d(1, 1, 1, 0);
        transform: rotate3d(1, 1, 1, 0);
    }
    .tooltip-content2::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin: -7px 0 0 -15px;
        width: 30px;
        height: 20px;
        background: url(https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/tooltip/tooltip1.svg) no-repeat center center;
        background-size: 100%;
    }
    /***********Bloated Tooltip ***********/
    .tooltip-content3 {
        position: absolute;
        background: url(https://wrappixel.com/ampleadmin/ampleadmin-html/plugins/images/tooltip/shape1.svg) no-repeat center bottom;
        background-size: 100% 100%;
        z-index: 9999;
        width: 200px;
        bottom: 100%;
        left: 50%;
        margin-left: -100px;
        padding: 50px 30px;
        text-align: center;
        color: #fff;
        opacity: 0;
        cursor: default;
        font-size: 14;
        line-height: 27px;
        pointer-events: none;
        -webkit-transform: scale3d(0.1, 0.2, 1);
        transform: scale3d(0.1, 0.2, 1);
        -webkit-transform-origin: 50% 120%;
        transform-origin: 50% 120%;
        -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
        transition: opacity 0.4s, transform 0.4s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
        transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
    }
    .mytooltip:hover .tooltip-content3 {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    /* Arrow */
    .tooltip-content3::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 50%;
        margin-left: -8px;
        top: 100%;
        background: #00AEEF;
        -webkit-transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
        transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
    }
    /*************Box Tooltip *************/
    /* Trigger text */
    .tooltip-item2 {
        color: #03a9f3;
        cursor: pointer;
        z-index: 100;
        position: relative;
        display: inline-block;
        font-weight: 500;
        -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }
    .mytooltip:hover .tooltip-item2 {
        color: #ffffff;
        -webkit-transform: translate3d(0, -0.5em, 0);
        transform: translate3d(0, -0.5em, 0);
    }
    /******************** Tooltip box ********************/
    .tooltip-content4 {
        position: absolute;
        z-index: 99;
        width: 360px;
        left: 50%;
        margin-left: -180px;
        bottom: -5px;
        text-align: left;
        background: #03a9f3;
        opacity: 0;
        font-size: 14px;
        line-height: 27px;
        padding: 1.5em;
        color: #ffffff;
        border-bottom: 55px solid #2b2b2b;
        cursor: default;
        pointer-events: none;
        border-radius: 5px;
        -webkit-transform: translate3d(0, -0.5em, 0);
        transform: translate3d(0, -0.5em, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .tooltip-content4 a {
        color: #2b2b2b;
    }
    .tooltip-text2 {
        opacity: 0;
        -webkit-transform: translate3d(0, 1.5em, 0);
        transform: translate3d(0, 1.5em, 0);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }
    .mytooltip:hover .tooltip-content4,
    .mytooltip:hover .tooltip-text2 {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    /*******Tooltip Line********/
    .tooltip-content5 {
        position: absolute;
        z-index: 9999;
        width: 300px;
        left: 50%;
        bottom: 100%;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        font-weight: 400;
        color: #ffffff;
        background: transparent;
        opacity: 0;
        margin: 0 0 20px -150px;
        cursor: default;
        pointer-events: none;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: opacity 0.3s 0.3s;
        transition: opacity 0.3s 0.3s;
    }
    .mytooltip:hover .tooltip-content5 {
        opacity: 1;
        pointer-events: auto;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .tooltip-content5 span {
        display: block;
    }
    .tooltip-text3 {
        border-bottom: 10px solid #fb9678;
        overflow: hidden;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s;
    }
    .mytooltip:hover .tooltip-text3 {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .tooltip-inner2 {
        background: #2b2b2b;
        padding: 40px;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .mytooltip:hover .tooltip-inner2 {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    /* Arrow */
    .tooltip-content5::after {
        content: '';
        bottom: -20px;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: #fb9678;
        border-width: 10px;
        margin-left: -10px;
    }
    /*For Laptop (1280px)*/
    @media (max-width: 1350px) {
        .carousel .item h3 {
            font-size: 17px;
            height: 90px;
        }
        .inbox-center a {
            width: 400px;
        }
    }
    /********* Search Result Page**********/
    .search-listing {
        padding: 0px;
        margin: 0px;
    }
    .search-listing li {
        list-style: none;
        padding: 15px 0;
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    }
    .search-listing li h3 {
        margin: 0px;
        font-size: 18px;
    }
    .search-listing li h3 a {
        color: #41b3f9;
    }
    .search-listing li h3 a:hover {
        text-decoration: underline;
    }
    .search-listing li a {
        color: #7ace4c;
    }
    /*Data tables page*/
    button.dt-button,
    div.dt-button,
    a.dt-button {
        background: #41b3f9;
        color: #ffffff;
        border-color: #41b3f9;
    }
    button.dt-button:hover,
    div.dt-button:hover,
    a.dt-button:hover {
        background: #41b3f9;
    }
    button.dt-button:hover:not(.disabled),
    div.dt-button:hover:not(.disabled),
    a.dt-button:hover:not(.disabled) {
        background: #f7fafc;
        color: #263238;
        border-color: rgba(120, 130, 140, 0.13);
    }
    .dataTables_filter input {
        border: 1px solid rgba(120, 130, 140, 0.13);
    }
    table.dataTable.display tbody tr.odd > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
    table.dataTable.display tbody tr:hover > .sorting_1,
    table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
    table.dataTable.display tbody tr.even > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
        background: none;
    }
    /*Summernote page*/
    .note-editor {
        border: 1px solid rgba(120, 130, 140, 0.13);
    }
    .note-editor .panel-heading {
        padding: 6px 10px 10px;
    }
    /*left-right-aside-column*/
    .page-aside {
        position: relative;
    }
    /*left-aside-column*/
    .left-aside {
        position: absolute;
        background: #ffffff;
        border-right: 1px solid rgba(120, 130, 140, 0.13);
        padding: 20px;
        width: 250px;
        height: 100%;
    }
    .right-aside {
        padding: 20px;
        margin-left: 250px;
    }
    .right-aside .contact-list th {
        white-space: nowrap;
    }
    .right-aside .contact-list td {
        vertical-align: middle;
        white-space: nowrap;
        padding: 25px 10px;
    }
    .right-aside .contact-list td img {
        width: 30px;
    }
    .contact-list th {
        white-space: nowrap;
    }
    .contact-list td {
        vertical-align: middle;
        padding: 25px 10px;
        white-space: nowrap;
    }
    .contact-list td img {
        width: 30px;
    }
    .list-style-none {
        margin: 0px;
        padding: 0px;
    }
    .list-style-none li {
        list-style: none;
        margin: 0px;
    }
   
   
    @media (max-width: 1680px) {
        .weather-with-bg .wt-counter li {
            padding: 10px 1px;
        }
    }
    @media (max-width: 1460px) {
        .weather-with-bg .wt-counter li {
            padding: 10px 0px;
        }
        .weather-with-bg .wt-counter li a {
            min-width: 38px;
            margin-bottom: 7px;
            height: 43px;
            padding: 10px;
        }
    }
    /*For Laptop (1280px)*/
    @media (max-width: 1350px) {
        .carousel .item h3 {
            font-size: 17px;
            height: 90px;
        }
        .inbox-center a {
            width: 400px;
        }
        .new-login-register .lg-info-panel {
            width: 450px;
        }
        .new-login-register .new-login-box {
            margin-left: 500px;
        }
    }
    /*Small Desktop*/
    @media (min-width: 1170px) {
        .app-search .form-control:focus {
            width: 300px;
        }
        .hide-sidebar .top-left-part {
            width: auto;
        }
        .hide-sidebar .top-left-part .logo span {
            display: none;
        }
        .hide-sidebar .sidebar {
            left: -240px;
            transition: 0.5s ease-out;
        }
        .hide-sidebar #page-wrapper {
            margin-left: 0px;
        }
        .hide-sidebar .footer {
            left: 0px;
        }
    }
    /*Ipad*/
    @media (min-width: 768px) {
        #page-wrapper {
            position: inherit;
            margin: 0px 0 0px 240px;
        }
        .navbar-default {
            position: relative;
            width: 100%;
            top: 0px;
        }
        .sidebar {
            z-index: 1001;
            position: fixed;
            width: 240px;
            padding-top: 0px;
            height: 100%;
            transition: 0.05s ease-in;
        }
        .sidebar:hover {
            width: 240px;
        }
        .fix-header .navbar-static-top {
            position: fixed;
            z-index: 1010;
        }
        .fix-header #page-wrapper {
            margin-top: 60px;
        }
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .mail_listing {
        border-left: 1px solid rgba(120, 130, 140, 0.13);
        padding-left: 20px;
    }
    .inbox-panel {
        padding-right: 20px;
    }
    .top-minus {
        margin-top: -62px;
        float: right;
    }
    /*This is for sidemenu*/
    @media (max-width: 1170px) {
        .content-wrapper .sidebar {
            left: -240px;
        }
        .content-wrapper #page-wrapper {
            margin-left: 0px;
        }
        .content-wrapper.show-sidebar .sidebar {
            left: 0px;
        }
        .content-wrapper .footer {
            left: 0px;
        }
        .col-in {
            padding: 15px 0;
        }
        .col-in li.col-middle {
            width: 100%;
        }
    }
    @media (max-width: 1023px) {
        .b-r-none {
            border-right: 0px;
        }
        .carousel-inner h3 {
            height: 90px;
            overflow: hidden;
        }
        .inbox-center a {
            width: 300px;
        }
        .new-login-register .lg-info-panel {
            display: none;
        }
        .new-login-register .new-login-box {
            margin: 0px auto;
            margin-top: 10%;
        }
    }
    /*Phone*/
    @media (max-width: 767px) {
        .navbar-top-links {
            float: left;
        }
        .navbar-top-links .profile-pic img {
            margin-right: 0px;
        }
        .top-left-part {
            width: 60px;
        }
        .navbar-top-links > li:last-child {
            margin-right: 0px;
        }
        .navbar-top-links > li > a {
            padding: 0 12px;
        }
        .navbar-top-links .dropdown-messages,
        .navbar-top-links .dropdown-tasks,
        .navbar-top-links .dropdown-alerts {
            width: 260px;
        }
        .show-sidebar .sidebar {
            width: 240px;
            top: 0px;
        }
        .show-sidebar .sidebar .hide-menu {
            display: inline;
        }
        .show-sidebar .sidebar .nav-small-cap {
            display: block;
        }
        .show-sidebar .sidebar .sidebar-head {
            width: 240px;
            display: block;
        }
        .sidebar {
            z-index: 1001;
            position: fixed;
            width: 0px;
            padding-top: 0px;
            height: 100%;
        }
        .sidebar-head {
            width: 0px;
            display: none;
        }
        #page-wrapper {
            margin: 0px;
        }
        .row-in-br {
            border-right: 0px;
            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        }
        .bg-title .breadcrumb {
            float: left;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        /*Timeline*/
        ul.timeline:before {
            left: 40px;
        }
        ul.timeline > li > .timeline-panel {
            width: calc(100% - 90px);
        }
        ul.timeline > li > .timeline-badge {
            top: 16px;
            left: 15px;
            margin-left: 0;
        }
        ul.timeline > li > .timeline-panel {
            float: right;
        }
        ul.timeline > li > .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }
        ul.timeline > li > .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }
        .wizard-steps > li {
            display: block;
        }
        .dropdown .mailbox,
        .dropdown .dropdown-tasks {
            left: -94px;
        }
        /***** Start Update 1.5 *****/
        .fix-header .navbar-static-top {
            position: fixed;
            top: 0px;
            width: 100%;
        }
        .fix-header #page-wrapper {
            margin-top: 60px;
        }
        .mega-dropdown-menu {
            height: 340px;
            overflow: auto;
        }
        .left-aside {
            position: relative;
            width: 100%;
            border: 0px;
        }
        .right-aside {
            margin-left: 0px;
        }
        .chat-main-box .chat-left-aside {
            left: -250px;
            transition: 0.5s ease-in;
            background: #ffffff;
        }
        .chat-main-box .chat-left-aside.open-pnl {
            left: 0px;
        }
        .chat-main-box .chat-left-aside .open-panel {
            display: block;
        }
        .chat-main-box .chat-right-aside {
            margin: 0px;
        }
        /***** Close Update 1.5 *****/
        .table-responsive.pro-rd {
            border: none;
        }
        .step-register,
        .login-register,
        #msform fieldset {
            position: relative;
        }
        .mega-dropdown-menu {
            padding-left: 20px;
        }
        .calendar-widget .cal-left {
            position: relative;
            width: 100%;
        }
        .calendar-widget .cal-left .cal-btm-text {
            position: relative;
            bottom: 0px;
            padding-top: 30px;
        }
        .calendar-widget .cal-right {
            width: 100%;
        }
        .calendar-widget .cal-right .cal-table td {
            padding: 15px 0px;
        }
        .calendar-widget .cal-right .cal-table td h1 {
            padding-left: 20px;
        }
        .error-body h1 {
            font-size: 80px;
            line-height: 100px;
        }
        .weather-with-bg .wt-top .wt-img h1 {
            font-size: 24px;
            line-height: 24px;
        }
        .manage-table {
            margin: 0px;
        }
        .dp-table img {
            width: 50px;
        }
        .earning-box li .er-row .er-text {
            width: 37%;
        }
        .earning-box li .er-row .er-count {
            font-size: 24px;
        }
        .sidebar .nav-second-level li a,
        .sidebar:hover .nav-second-level li a {
            padding-left: 40px;
        }
        .sidebar .nav-third-level li a,
        .sidebar:hover .nav-third-level li a {
            padding-left: 60px;
        }
    }
    @media (max-width: 480px) {
        .vtabs .tabs-vertical {
            width: auto;
        }
        .stat-item {
            padding-right: 0px;
        }
        .login-box {
            width: 100%;
        }
        .pro-content .pro-list-details {
            height: 100px;
            border-right: none;
        }
        .pro-list-info ul.pro-info li {
            padding: 10px 0 10px 0;
        }
        .pro-list-info ul.pro-info {
            padding-left: 0;
        }
        .pro-agent .agent-img {
            padding-top: 3px;
        }
        .pro-agent .agent-name {
            padding: 2px 0 10px 15px;
        }
        .new-login-register .lg-info-panel {
            display: none;
        }
        .new-login-register .new-login-box {
            margin: 0px auto;
            width: 300px;
            margin-top: 10%;
        }
    }

    @media(max-width:767px) {
        .new-login-register{
            position:relative;
        }
    } 